runs
Output/*
best128.pt
best416.pt
yolo11x-obb.pt
yolov8x-obb.pt
yolo11n.pt
datasets/GeoMap/images/train/*
datasets/GeoMap/images/val/*
datasets/GeoMap/cropped/
datasets/GeoMap/cropped4/
datasets/GeoMap/cropped416/
datasets/GeoMap/cropped128/
/datasets/GeoMap/val_cropped.txt
/datasets/GeoMap/train_cropped.txt
mmdata
